@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
  font-family: "MuseoSans";
  font-weight: light;
  font-style: normal;
  src: url("../fonts/MuseoSansLight/MuseoSansLight.eot");
  src: url("../fonts/MuseoSansLight/MuseoSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"), url("../fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot");
  src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"), url("../fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSansMedium";
  font-weight: medium;
  font-style: normal;
  src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot");
  src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"), url("../fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSansBold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/MuseoSansBold/MuseoSansBold.eot");
  src: url("../fonts/MuseoSansBold/MuseoSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"), url("../fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype"); }

@font-face {
  font-family: "MuseoSansBlack";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MuseoSansBlack/MuseoSansBlack.eot");
  src: url("../fonts/MuseoSansBlack/MuseoSansBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansBlack/MuseoSansBlack.woff") format("woff"), url("../fonts/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype"); }

::-webkit-input-placeholder {
  color: #666; }

::-moz-placeholder {
  color: #666; }

:-ms-input-placeholder {
  color: #666; }

::-ms-input-placeholder {
  color: #666; }

::placeholder {
  color: #666; }

::-moz-selection {
  background-color: #0051a3;
  color: #fff; }

::selection {
  background-color: #0051a3;
  color: #fff; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "MuseoSans", sans-serif;
  overflow-x: hidden;
  color: #606060;
  counter-reset: section; }
  body input, body textarea {
    outline: none; }
    body input:focus:required:invalid, body textarea:focus:required:invalid {
      border-color: red; }
    body input:required:valid, body textarea:required:valid {
      border-color: green; }

b, strong {
  font-weight: bold; }

.font-weight-medium {
  font-weight: 500; }

.content-wrapper {
  position: relative;
  min-height: 80vh; }

.reset-link {
  color: inherit; }
  .reset-link:hover, .reset-link:active, .reset-link:focus {
    color: inherit;
    outline: none;
    text-decoration: none; }

button {
  outline: none;
  background-color: transparent;
  border: 0;
  cursor: pointer; }
  button:hover {
    outline: none; }
  button:focus {
    outline: none; }
  button:active {
    outline: none; }
  button:visited {
    outline: none;
    cursor: pointer; }

.block-heading {
  position: relative;
  font: 30px 'MuseoSansBlack'; }
  .block-heading:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    content: attr(data-text-heading);
    text-align: center;
    font: 60px/40px 'MuseoSansBlack';
    color: inherit;
    opacity: .05;
    text-transform: uppercase; }

.button--red {
  background-color: #cd1000;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .button--red:hover {
    background-color: white;
    border-color: #cd1000;
    color: #cd1000; }

.button--blue {
  background-color: #0051a3;
  color: white;
  border: 1px solid white;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer; }
  .button--blue:hover {
    background-color: white;
    border-color: #0051a3;
    color: #0051a3; }
  .button--blue.active {
    background-color: white;
    border-color: #0051a3;
    color: #0051a3; }

.button--white {
  background-color: white;
  color: #0051a3;
  border: 1px solid white;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer; }
  .button--white:hover {
    background-color: #ebebeb;
    border-color: white;
    color: #0051a3; }
  .button--white.active {
    background-color: white;
    border-color: white;
    color: #0051a3; }

.button--normal {
  width: auto; }

.button--rounded {
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.button--100 {
  width: 100%; }

.header-page {
  position: relative;
  min-height: 70px;
  color: white;
  font-size: 18px;
  z-index: 8; }
  .header-page__item--logo {
    max-width: 60px; }
  .header-page__emergency {
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .header-page__text {
    font-size: 18px;
    text-transform: uppercase; }
    .header-page__text--bigger {
      font-weight: bold; }
    .header-page__text--logo-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.2; }
    .header-page__text--logo-description {
      text-transform: lowercase;
      font-weight: normal; }

.navbar {
  min-height: 106px;
  height: 106px; }
  .navbar__container {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch; }
  .navbar__background-image {
    background-position: 0 center;
    opacity: .5; }
    .navbar__background-image--fullsize {
      -webkit-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat; }
    .navbar__background-image--pattern {
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: repeat-x; }
    .navbar__background-image--wrapper {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
  .navbar__wrapper {
    text-transform: uppercase;
    font-weight: bold; }
  .navbar__item {
    list-style-position: inside;
    list-style-type: none; }
    .navbar__item a:hover {
      text-decoration: none; }
  .navbar-dropdown {
    max-width: 250px;
    background-color: white;
    list-style-position: inside;
    list-style-type: none; }

.nav-dropdown {
  position: relative;
  width: 100%; }
  .nav-dropdown__button {
    font-weight: bold;
    text-transform: uppercase;
    list-style-position: inside;
    list-style-type: none;
    text-shadow: white -1px -1px 9px, white 1px 1px 9px, white 1px 0 9px,	white 0 1px 9px, white -2px -2px 9px, white 2px 2px 9px, white 2px 0 9px, white 0 2px 9px;
    opacity: 1;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .nav-dropdown__button:hover {
      text-decoration: none;
      opacity: .7; }
  .nav-dropdown__content {
    display: none;
    position: absolute;
    width: 100%;
    min-width: 300px;
    left: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #0051a3;
    -webkit-box-shadow: 0px 2px 8px rgba(96, 96, 96, 0.6);
            box-shadow: 0px 2px 8px rgba(96, 96, 96, 0.6);
    z-index: 6; }
    .nav-dropdown__content--mobile {
      position: relative; }
    .nav-dropdown__content--form {
      min-width: 300px;
      background: transparent;
      -webkit-box-shadow: none;
              box-shadow: none; }
  .nav-dropdown__item {
    position: relative;
    display: block;
    padding: 2px 6px;
    text-align: left;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .nav-dropdown__item:after {
      position: absolute;
      top: 0;
      right: 10px;
      display: block;
      content: '\226B';
      opacity: 0;
      -o-transition: 0.2s;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
    .nav-dropdown__item:hover {
      text-decoration: none; }
      .nav-dropdown__item:hover:after {
        right: 0;
        opacity: 1; }

.hamburger {
  position: relative;
  width: 40px;
  height: 40px;
  border-width: 3px;
  border-style: solid;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  z-index: 2;
  opacity: 1;
  cursor: pointer; }
  .hamburger:hover {
    opacity: .8; }
  .hamburger:focus {
    opacity: .8; }
  .hamburger__wrapper {
    border-width: 2px;
    border-style: solid;
    -webkit-border-radius: 100%;
            border-radius: 100%; }
  .hamburger__bar {
    display: block;
    width: 22px;
    height: 2px;
    -webkit-border-radius: 1px;
            border-radius: 1px; }

.nav__item {
  position: relative;
  font-size: 15px; }

.nav__link:after {
  display: inline-block;
  position: relative;
  content: '\/';
  margin-left: 1vw;
  color: red; }

.nav__link:last-child:after {
  display: none; }

.nav__link-wrapper {
  z-index: 10; }
  .nav__link-wrapper--mobile {
    display: none; }

.nav-show {
  display: block; }

.logo-company {
  position: relative;
  z-index: 2; }
  .logo-company__self {
    z-index: 10; }
  .logo-company__shape {
    position: absolute;
    width: 300px;
    height: 300px;
    right: 0px;
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg);
    background-color: #ffffff; }

.slider {
  position: relative;
  z-index: 4; }
  .slider__wrapper {
    overflow: hidden; }

.slide {
  height: 300px; }
  .slide__bg {
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .slide__overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 16vw;
    opacity: .6; }
  .slide__text-heading {
    height: 100px;
    font-size: 16px;
    font-weight: bold; }
    .slide__text-heading--smaller {
      text-transform: none;
      font-weight: normal; }
  .slide__text-description {
    font-family: 'MuseoSansBold';
    font-size: 17px;
    line-height: 1.3; }
    .slide__text-description--bigger {
      font-size: 22px;
      font-weight: bold; }

.slick-arrow {
  top: 89%;
  z-index: 5; }

.slick-prev {
  left: 60.5vw; }
  .slick-prev:before {
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    content: url(../img/lg-arrow-left.png); }

.slick-next {
  left: 66vw; }
  .slick-next:before {
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    content: url(../img/lg-arrow-right.png); }

.slick-dots {
  bottom: 7%;
  left: 14vw; }
  .slick-dots li {
    margin: 0; }
    .slick-dots li button:before {
      content: '';
      top: 25%;
      left: 25%;
      width: 10px;
      height: 10px;
      border-style: solid;
      border-width: 4px;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      border-color: transparent;
      opacity: 1;
      -o-transition: 0.2s;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
    .slick-dots li button:hover:before {
      opacity: .4; }
    .slick-dots li.slick-active button:before {
      width: 10px;
      height: 10px;
      -webkit-box-shadow: 0px 0px 0px 4px #daa520;
              box-shadow: 0px 0px 0px 4px #daa520;
      opacity: 1; }

.slick__text-description--bigger {
  font-size: 20px;
  font-weight: bold; }

@media (max-width: 1679.98px) {
  .slide__overlay {
    left: 18vw; } }

@media (max-width: 1439.98px) {
  .slide__overlay {
    left: 17vw; } }

@media (max-width: 1365.98px) {
  .slide__overlay {
    left: 21vw; }
  .slick-arrow {
    top: 89%; }
  .slick-prev {
    left: 60vw; }
  .slick-next {
    left: 67vw; } }

@media (max-width: 1279.98px) {
  .slide__overlay {
    left: 33vw; } }

@media (max-width: 1240px) {
  .slide__overlay {
    left: 28vw; } }

@media (max-width: 1090px) {
  .slide__overlay {
    left: -15vw;
    width: 200% !important; }
  .slick-arrow {
    top: 89%; }
  .slick-prev {
    left: 59vw; }
  .slick-next {
    left: 67vw; } }

@media (max-width: 1023.98px) {
  .slide__overlay {
    left: -10vw;
    width: 200% !important; }
  .slick-arrow {
    top: 89%; }
  .slick-prev {
    left: 60.5vw; }
  .slick-next {
    left: 66vw; } }

@media (max-width: 1016.98px) {
  .slide__overlay {
    left: -9vw;
    width: 200% !important; }
  .slick-arrow {
    top: 89%; }
  .slick-prev {
    left: 59vw; }
  .slick-next {
    left: 67vw; } }

@media (max-width: 991px) {
  .slide__overlay {
    left: 0;
    width: 300% !important; }
  .slick-dots {
    left: 0; }
  .slick-arrow {
    top: 89%; }
  .slick-prev {
    left: 43vw; }
  .slick-next {
    left: 55vw; } }

@media (max-width: 767.98px) {
  .slick-dots {
    left: 0; }
  .slick-arrow {
    top: 89%; }
  .slick-prev {
    left: 41vw; }
  .slick-next {
    left: 57vw; } }

@media (max-width: 479.98px) {
  .slick-dots {
    left: 0; }
  .slick-arrow {
    top: 89%; }
  .slick-prev {
    left: 35vw; }
  .slick-next {
    left: 64vw; } }

.news__card {
  display: block;
  width: 270px;
  height: auto; }

.news__img {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 180px;
  background-image: url(../img/placeholder.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0 0px 0px #666666;
          box-shadow: 0 0px 0px #666666;
  cursor: pointer;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .news__img:hover {
    -webkit-box-shadow: 0 4px 20px #666666;
            box-shadow: 0 4px 20px #666666; }

.news__title {
  font-size: 15px;
  font-family: 'MuseoSansBlack';
  word-break: break-word; }

.news__description {
  font-size: 14px;
  line-height: 1.2; }

.news__attribute--time:before {
  content: attr(data-publication); }

.news__attribute--views:before {
  content: attr(data-popularity);
  margin-right: 4px; }

.important-sections:hover {
  text-decoration: none; }

.important-sections__card {
  width: 280px;
  -webkit-box-shadow: 0 0px 0px #666666;
          box-shadow: 0 0px 0px #666666;
  cursor: pointer;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .important-sections__card:hover {
    -webkit-box-shadow: 0 4px 20px #666666;
            box-shadow: 0 4px 20px #666666; }

.important-sections__img {
  height: 60px;
  width: auto; }

.important-sections__text {
  font-size: 13px; }

.footer-page {
  font-size: 14px; }
  .footer-page__text {
    font-size: 18px; }
  .footer-page__nav {
    list-style-type: none; }
  .footer-page__li:before {
    position: relative;
    content: '-';
    top: 4px;
    display: inline-block;
    margin-right: 4px;
    font-size: 200%;
    line-height: 0; }
  .footer-page__link {
    font-family: 'MuseoSansMedium';
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .footer-page__link:hover {
      opacity: .7; }
  .footer-page__copyright {
    font-size: 13px;
    font-weight: light; }

/*==========  Desktop First  ==========*/
@media (max-width: 1440.98px) {
  .logo-company__shape {
    right: 0px; } }

@media (max-width: 1199.98px) {
  body {
    font-size: 14px; }
  .header-page__text--logo-title {
    font-size: 20px;
    line-height: 1.2; }
  .header-page__text--logo-description {
    font-size: 14px; }
  .logo-company__shape {
    right: -40px; }
  .news__card {
    width: auto; }
  .important-sections__card {
    width: auto; }
  .footer-page__text--responsive {
    font-size: 1.3vw; } }

@media (max-width: 991.98px) {
  .logo-company:after {
    display: none; }
  .navbar__background-image {
    display: none; }
  .footer-page__text--responsive {
    font-size: inherit; } }

@media (max-width: 767.98px) {
  .emergency-service__table-header {
    display: none; }
  .emergency-service tbody .emergency-service__table-data {
    display: block; }
    .emergency-service tbody .emergency-service__table-data:first-child {
      background-color: #878787;
      color: white; }
    .emergency-service tbody .emergency-service__table-data:before {
      content: attr(data-js-table);
      font-weight: bold;
      display: block;
      text-align: center;
      width: 100%; }
  .slide__text-heading {
    height: 14vw;
    line-height: 1.4; } }

@media (max-width: 575.98px) {
  .emergency-service__table-header {
    display: none; }
  .emergency-service tbody .emergency-service__table-data {
    display: block; }
    .emergency-service tbody .emergency-service__table-data:first-child {
      background-color: #878787;
      color: white; }
    .emergency-service tbody .emergency-service__table-data:before {
      content: attr(data-js-table);
      font-weight: bold;
      display: block;
      text-align: center;
      width: 100%; }
  .slide__text-heading {
    height: auto;
    line-height: 1.2; } }
