body {
	background:#fff;
	font-family: Ubuntu;
}
a {text-decoration:none;  font-family: Ubuntu;color:#000000;
   font-size: 1em;}
   a:hover{text-decoration:none;}
   a.pad {margin-top:10px;cursor:pointer;}
.Editbox {
	width:80%;
	margin-bottom:15px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
   border-radius: 4px;
   color: #000000;
   font-family: Ubuntu;
   font-size: 13px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
.Editbox:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
.b {
	font-weight:bold;
}
#form_input {
	width:80%;margin:15px;
}

.Button1 {
   background-color: red;
   background-image: none;
   border: 0px #2E6DA4 solid;
   color: #fff;
   font-family: Ubuntu;
   font-size: 20px;
   padding-top:6px;
   font-weight: normal;cursor:pointer;vertical-align:middle;text-align:center;
}

.Button1:hover {
   background-color: #fff;
   background-image: none;
   border: 1px #2E6DA4 solid;
   color: #2E6DA4;
   font-family: Ubuntu;
   font-size: 20px;
   font-weight: normal;
}

.button-image {
width: 34px;
height: 41px;
background-image: url('http://info-gkh.com.ua/tpl/images/icons/camera.png');
background-repeat: no-repeat;
background-position: 50% 35%;
overflow: hidden;
float: left;
cursor: pointer;
margin-right: 3px;
background-size: 24px;
}
.button-image_1 {
width: 34px;
height: 41px;
background-image: url('http://info-gkh.com.ua/tpl/images/icons/camera.png');
background-repeat: no-repeat;
background-position: 50% 35%;
overflow: hidden;
float: left;
cursor: pointer;
margin-right: 3px;
background-size: 24px;
}
.button-image:hover {
background-color: #efefef;
}
.button-image_1:hover {
background-color: #efefef;
}
.inputImage {
opacity: 0.0;
height: 40px;
cursor: pointer;
width: 34px; 
}

.inputImage::-webkit-file-upload-button { cursor: pointer; }

#ClipArt1 {
   -moz-animation: animate-opacity 500ms linear 9ms 7 normal both;
   -webkit-animation: animate-opacity 500ms linear 9ms 7 normal both;
   animation: animate-opacity 500ms linear 9ms 7 normal both;
   border-width: 0;
}


#loader {
  animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px); 
  height: 80px;
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}
@keyframes animate {
  0% { 
    transform: rotate(0deg)
  }
  100% { 
    transform: rotate(220deg)
  }
}
#loader:after {
  animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content:'';
  border-radius: 50%; 
  height: 80px;
  width: 80px;
  position: absolute; 
} 
@keyframes animate2 {
  0% {
    box-shadow: inset #5F9EA0 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #5F9EA0 0 0 0 2px;
  }
  100% {
    box-shadow: inset #5F9EA0 0 0 0 17px;
    transform: rotate(140deg);
  }
}

#modal_sferes::-webkit-scrollbar { width: 0; }
#modal_sferes { -ms-overflow-style: none; }
#modal_sferes { overflow: -moz-scrollbars-none; }