body {
   background-color: #FFFFFF;
   color: #000000;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Line1 {
   border-width: 0;
   height: 54px;
   width: 100px;
}
#Line2 {
   border-width: 0;
   height: 54px;
   width: 100px;
}
#Line3 {
   border-width: 0;
   height: 58px;
   width: 100px;
}
#Line4 {
   border-width: 0;
   height: 58px;
   width: 100px;
}


#Image1 {
   background-color: #035fb4;
   border: 2px solid #035fb4;
   border-radius: 4px;
   color: #fff;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   text-align: center;

   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   justify-content: center;
   align-items: center;
}
#Image1 h1 {
   font-size: 15px;
   text-transform: uppercase;
}
#Image2 {
   border: 2px solid #035fb4;
   border-radius: 4px;
   color: #716f6f;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   text-align: center;

   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   justify-content: center;
   align-items: center;
}
#Image2 h1 {
   font-size: 15px;
   text-transform: uppercase;
}
#Image2:hover {
   background-color: #035fb4;
   color: #fff;
}
#Image3 {
   border: 2px solid #035fb4;
   border-radius: 4px;
   color: #716f6f;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   text-align: center;

   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   justify-content: center;
   align-items: center;
}
#Image3 h1 {
   font-size: 15px;
   text-transform: uppercase;
}
#Image3:hover {
   background-color: #035fb4;
   color: #fff;
}
#Image4 {
   border: 2px solid #035fb4;
   border-radius: 4px;
   color: #716f6f;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   text-align: center;

   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   justify-content: center;
   align-items: center;
}
#Image4 h1 {
   font-size: 15px;
   text-transform: uppercase;
}
#Image4:hover {
   background-color: #035fb4;
   color: #fff;
}
#Image5 {
   border: 2px solid #035fb4;
   border-radius: 4px;
   color: #716f6f;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   text-align: center;

   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   justify-content: center;
   align-items: center;
}
#Image5 h1 {
   font-size: 15px;
   text-transform: uppercase;
}
#Image5:hover {
   background-color: #035fb4;
   color: #fff;
}
/*table*/
.popasne__table {
   font-size: 16px;
}

.popasne__table strong {
   font-weight: 900;
}

.popasne-phone__span {
   color: #7cb0df;
}

.structure-h2 {
   height:112px;
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
   justify-content: center;
}

.structure-h2 h2 {
   width: 100%;
   margin-top: 30px;
   margin-bottom: 30px;
   text-align: center;
   color: #716f6f;
   font: 30px/30px 'MuseoSansBlack';
   font-weight: 400;
   text-transform: uppercase;
   position: relative;
}

.structure-h2 h2::after {
   content: "структура підприємства";
   text-transform: uppercase;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 19px;
   opacity: 0.08;
   color: #7cb0df;
   font: 60px/30px 'MuseoSansBlack';
}