@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	body
		font-size: 14px
	.header-page
		&__wrapper
		&__item
			&--logo

		&__icon
		&__emergency
		&__text
			&--bigger
			&--logo-title
				font-size: 20px
				line-height: 1.2
			&--logo-description
				font-size: 14px
	// .logo-company
	.logo-company
		&:after
			right: -60px
	.slide
		&__overlay

	// .news
	.news
		&__heading
		&__card
			width: auto

	.important-sections
		&__card
			width: auto

	.footer-page
		&__text
			font-size: 1.3vw

// ≥992px
+media-breakpoint-down(md)
	.logo-company
		&:after
			display: none

	.navbar
		&__background-image
			display: none

// ≥768px
+media-breakpoint-down(sm)
	.emergency-service__table-header
		display: none
	.emergency-service tbody .emergency-service__table-data
		display: block
		&:first-child
			background-color: darken(white, 47%)
			color: white
		&:before
			content: attr(data-js-table)
			font-weight: bold
			display: block
			text-align: center
			width: 100%

// ≥576px
+media-breakpoint-down(xs)
	.emergency-service__table-header
		display: none
	.emergency-service tbody .emergency-service__table-data
		display: block
		&:first-child
			background-color: darken(white, 47%)
			color: white
		&:before
			content: attr(data-js-table)
			font-weight: bold
			display: block
			text-align: center
			width: 100%









/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
