
.orange, .bottom-links { /*текст в слайдере и ссылки снизу*/
	color: #FFD700 !important;
}

.i-clock, .subject-text, .i-eye, .header-nav { /*плашка меню, иконки в новостях*/
	color: #1C1C1C !important;
}

h2:after, #page_title:before {
	color: rgba(7, 10, 7, 0.301) !important; /*подложка под h2*/
}

.i-location, .i-phone, .i-attention { /*цвет иокнок сверху и снизу*/
	color:#FFD700 !important;
}

.bx-pager-link:active { /* цвет активной точки в слайдере*/
	background: #1C1C1C !important; 
}

/*стрелки переключения слайдера новостей*/
.news-slider-wrap .bx-prev {
	background: #1C1C1C url(/tpl/images/sm-arrow-left.png) center center no-repeat !important;
}

.news-slider-wrap .bx-next {
	background: #1C1C1C url(/tpl/images/sm-arrow-right.png) center center no-repeat !important;
}

.news-slider-wrap .bx-prev:focus,
.news-slider-wrap .bx-prev:hover {
	background: rgba(28, 28, 28, 0.336) url(/tpl/images/sm-arrow-left.png) center center no-repeat !important;
}

.news-slider-wrap .bx-next:focus,
.news-slider-wrap .bx-next:hover {
	background: rgba(28, 28, 28, 0.336) url(/tpl/images/sm-arrow-right.png) center center no-repeat !important;
}


