
.orange, .bottom-links { /*текст в слайдере и ссылки снизу*/
	color: white !important;
}

.i-clock, .subject-text, .i-eye, .header-nav { /*плашка меню, иконки в новостях*/
	color: #92476E !important;
}

h2:after, #page_title:before {
	color: rgba(146, 71, 110, 0.527) !important; /*подложка под h2*/
}

.i-location, .i-phone, .i-attention { /*цвет иокнок сверху и снизу*/
	color: white !important;
}

.bx-pager-link:active { /* цвет активной точки в слайдере*/
	background: #92476E !important; 
}

/*стрелки переключения слайдера новостей*/
.news-slider-wrap .bx-prev {
	background: #92476E url(/tpl/images/sm-arrow-left.png) center center no-repeat !important;
}

.news-slider-wrap .bx-next {
	background: #92476E url(/tpl/images/sm-arrow-right.png) center center no-repeat !important;
}

.news-slider-wrap .bx-prev:focus,
.news-slider-wrap .bx-prev:hover {
	background: rgba(146, 71, 110, 0.616) url(/tpl/images/sm-arrow-left.png) center center no-repeat !important;
}

.news-slider-wrap .bx-next:focus,
.news-slider-wrap .bx-next:hover {
	background: rgba(146, 71, 110, 0.616) url(/tpl/images/sm-arrow-right.png) center center no-repeat !important;
}


